logs
project/project
project/target
project/.sbtserver
project
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.sbtserver
bin
.DS_Store
app-2.11
test-2.11
.classpath
.project